html { overflow: hidden; }
body {
    background-color: #000000;
    margin: 0;
}
div.container {
    position: relative;
    top: 0;
    left: 0px;
    width: 400px;
    height: 480px;
    margin: 0;
    padding: 0;
}

div.container_right {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 480px;
    margin: 0;
    margin-left: 400px;
    padding: 0;
}

div.content {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}
div#tnmodel {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 480px;
}
div#tnmarquee {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 112px;
    background-color: #263e72;
    color: #FFFFFF;
    font-size: 60pt;
}
marquee#tn {
    width: 100%;
}
div#welcome {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120px;
}
